NEXT_PUBLIC_AUTH_URL=http://localhost:8080
NEXT_PUBLIC_STREAM_URL=http://localhost:8081
NEXT_PUBLIC_CHAT_URL=http://localhost:8082
NEXT_PUBLIC_SUBSCRIPTION_URL=http://localhost:8083
NEXT_PUBLIC_COMMERCE_URL=http://localhost:8086
NEXT_PUBLIC_NOTIFICATION_URL=http://localhost:8087
NEXT_PUBLIC_SEARCH_URL=http://localhost:8088
